
header.flex {
  
  background-color: #783BA2 ;
  justify-content: space-between;
  color:white ;


Image {
  height: 50px;
  margin: 10px 50px;
}
.links {

  display: flex;
  gap: 20px; 
  justify-content: center;
}

.link {
  text-decoration: none;
  color: white; 
  padding: 22px 10px;
}

}

@media (width < 900px) {
  * {
    box-sizing: border-box !important;
    margin: 0!important;
    padding: 0!important;
    width: 100%; 
      
      overflow-x: hidden;
    
  }
  header.flex {
    justify-content: center;
    padding-inline: 0;
    
    .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }

    .logo {
      display: none;

    }
    
  }
}

/* ==============================
When dcroll down on the home page 
=================================*/
header.scroll-down {
  position: fixed;
  right: 0;
  left: 0;
  padding-bottom: 0.5rem;
  background-color: var(--footer-bg);
  color: #fff;
  z-index: 11;



}
